/******************************************* 

#f8f8f8 couleur de fond
#25313e  bleu foncé
#be5521 couleur titre (~ orange foncé)
#333333 gris du texte
#999999 gris du trait
#989898 gris clair (footer)
#e8e8e8 bordure gris clair
#78909c lien footer

*******************************************/
*
{
	font-family:'Roboto','HelveticaNeue', sans-serif;
}
a
{
	text-decoration: none;
	color:#333333;
}
a:hover
{
	text-decoration: none;
	color:#333333;
}
body
{
	background: #f8f8f8;
}
/*************
	HEADER
**************/
header
{
	margin-bottom: 15px;
	height: 145px;
}
.banner 
{
	background: #25313e ;
	height:105px;
	overflow: hidden;
}
.banner img
{
	width:100%;
}
.logo
{
	background: #fff;
	border: 4px #fff solid;
	border-radius:5px 5px;
	position: absolute;
    left: 10%;
  	top: 70px;
	width: 64px;  	
}
.logo img
{
	width: 100%;
}
/***********************
	CORPS DE LA PAGE
************************/
main
{
	padding:0px 20px;
}

h1
{
	color:#be5521;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.intro
{
	font-size:13px;
	color:#333333;
}
section
{
	color:#333333;
	
}
section h2
{
	color:#989898;
	margin: 20px 0px;
	text-transform:uppercase;
	font-family: 'Roboto', 'HelveticaNeue Bold', sans-serif;
	font-size: 14px;
	border-bottom:1px #999999  solid;
}
/****************
	ANNONCES   
****************/
article
{
	background: #fff;
	border: 1px solid #e8e8e8;
	border-radius:4px 4px;
	padding:8px 8px 15px 8px;
	margin:15px 0px;
	position: relative;
}
.rectangle {
   background-image: url("../img/triangle.gif");
   height: 19px;
   left: -8px;
   position: absolute;
   top: 25px;
   width: 8px;

}
/***  HEADER DE L'ANNONCE   ***/
.header_ann
{
	margin-bottom: 15px;
	position:relative;
}
.col-1,.col-2,.col-3
{
	display: inline-block;
}
.col-1
{
	width:30px;
}
.col-2
{
	position: absolute;
	top:0px;
	margin-left:5px;
}
.col-3
{
	position: absolute;
	top:0px;
	right:5px;
}

.avatar img
{
	width:30px;
	border-radius: 4px 4px;
	border:1px solid #e8e8e8;
}
.premium, .non_premium
{
	font-size: 15px;
	font-weight: bold;
}
.premium
{
	color:#be5521;
}
.non_premium
{
	color:black;
}
.sub
{
	font-family: 'Roboto','helvetica neue LightItalic', sans-serif;
	font-style: italic;
	font-size: 10px;
}
.ico_news, .ico_deals
{
	width:16px;
	height: 16px;
	border-radius: 75px 75px;
}
.ico_news
{
	background:url(../img/news.gif) center no-repeat, #be5521;
}
.ico_deals
{
	background: url(../img/deal.gif) center no-repeat, #25313e;
}
/*** Contenu de l'annonce  ***/
.contenu
{
	font-size: 12px;
}

/***************
	FOOTER
***************/
footer
{
	color:#989898;
	font-size:10px;
	font-style: italic;
	padding:0px 20px;
	text-align: center;
}
footer a
{
	color:#78909c;
}